* {
    box-sizing: border-box;
    /* outline: dotted 1px red; */
}

:root {
    --progressbar-bg: rgba(211, 211, 211, 0.5);
    --start: red;
    --middle: blue;
    --finish: green;
} 

body {
    display: grid;
    place-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.progress-bar {
    width: 100%;
    height: 50px; 
    background-color: var(--progressbar-bg); 
    position: relative;
    border-radius: 20px;
}

.progress-status {
    width: 0;
    height: 100%;
    border-radius: 20px;
    background-color: var(--start); 
    position: absolute;
    animation: fill 5s infinite linear;
}

@keyframes fill {
    0%, 20% { width: 0; background-color: var(--start); }
    40% { width: 50%; background-color: var(--middle); }
    60%, 100% { width: 100%; background-color: var(--finish); }
}
